<?xml version="1.0" encoding="UTF-8"?>
<pdx:document  xmlns:pdx="http://www.phpdocx.com/main" >
    <pdx:settings>
        <pdx:modifyPageLayout pdx:paperType="A3-landscape">
            <pdx:layout> 
                <pdx:numberCols pdx:value="3" />
            </pdx:layout>
        </pdx:modifyPageLayout>
    </pdx:settings>
</pdx:document>