<?xml version="1.0" encoding="UTF-8"?>
<pdx:document xmlns:pdx="http://www.phpdocx.com/main" >
    <pdx:config>
        <pdx:output pdx:name="output" pdx:type="pdf" />
        <pdx:crypto>
            <pdx:encrypt pdx:password="phpdocx" pdx:src="/var/www/phpdocx/examples/XmlApi/files/Test.pdf" pdx:target="/var/www/phpdocx/examples/XmlApi/Crypto/encryptPdf/Crypted.pdf" />
        </pdx:crypto>
    </pdx:config>
</pdx:document>